In [19]:
def meadian(lst):
    lst=sorted(lst)
    n=len(lst)
    mid=n//2
    if n%2==0:
        return (lst[mid]+lst[mid-1])//2
    else:
        return lst[mid]
lst=[0, -5, 99, 3, -1, 54, -20]
meadian(lst)

0

In [17]:
def meadian(lst):
    lst=sorted(lst)
    n=len(lst)
    mid=n//2
    if n%2==0:
        return (lst[mid]+lst[mid-1])/2
    else:
        return lst[mid]
lst=[7, 3, 8, -1, 4, 0, 5, 2]
meadian(lst)

3.5

In [21]:
def meadian(lst):
    lst=sorted(lst)
    n=len(lst)
    mid=n//2
    if n%2==0:
        return (lst[mid]+lst[mid-1])/2
    else:
        return lst[mid]

lst=[-15, -7, -3, -9, -1, -8, -2, -5, -4, -6]
meadian(lst)

-5.5

In [1]:
def commen(lst1,lst2):
    lst3=[]
    for i in lst1:
        if i in lst2:
            lst3.append(i)
    return lst3
lst1=[1, 2, 2, 3, 4]
lst2=[2, 2, 3, 3, 4, 4]
commen(lst1,lst2)

[2, 2, 3, 4]

In [15]:
def commen(lst1,lst2):
    lst3=[]
    for i in lst1:
        if i in lst2:
            lst3.append(i)
    return list(set(lst3))
lst1=[-1, -1, 0, 1, 1, 2]
lst2=[1, -1, 0, 0, 2, 2]
commen(lst1,lst2)

[0, 1, 2, -1]

In [16]:
def commen(lst1,lst2):
    lst3=[]
    for i in lst1:
        if i in lst2:
            lst3.append(i)
    return lst3
lst1=[1,2,3]
lst2=[]
commen(lst1,lst2)

[]

In [42]:
import pandas as pd
import numpy as np

In [43]:
data={'A':[4,16,25,36],'B':[1,4,9,16]}

In [44]:
data

{'A': [4, 16, 25, 36], 'B': [1, 4, 9, 16]}

In [45]:
df=pd.DataFrame(data)

In [46]:
df

    A   B
0   4   1
1  16   4
2  25   9
3  36  16

In [102]:
import pandas as pd
import numpy as np
def fun(df):
   result=df.applymap(lambda x:x**0.5 if x>=0 else none)
   return result.astype(int)
print(fun(df))

   A  B
0  2  1
1  4  2
2  5  3
3  6  4

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10880\1548875733.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result=df.applymap(lambda x:x**0.5 if x>=0 else none)

In [89]:
data1={'A':[1, 0, 9, 81],
      'B':[1, 0, 16, 64]}

In [90]:
df1=pd.DataFrame(data1)

In [91]:
df1

    A   B
0   1   1
1   0   0
2   9  16
3  81  64

In [98]:
def fun(df1):
    result=df1.applymap(lambda x:x**0.5 if x>=0 else none)
    return result.astype(int)
fun(df1)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10880\1719756339.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result=df1.applymap(lambda x:x**0.5 if x>=0 else none)

   A  B
0  1  1
1  0  0
2  3  4
3  9  8

In [80]:
data2={'A':[0.25, 2.25, 6.25, 12.25],
      'B':[0.25, 1, 2.25, 6.25]}

In [82]:
df3=pd.DataFrame(data2)

In [83]:
df3

       A     B
0   0.25  0.25
1   2.25  1.00
2   6.25  2.25
3  12.25  6.25

In [101]:
def fun(df3):
   result=df3.applymap(lambda x:x**0.5 if x>=0 else none)
   return result
fun(df3)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10880\1686422979.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result=df3.applymap(lambda x:x**0.5 if x>=0 else none)

     A    B
0  0.5  0.5
1  1.5  1.0
2  2.5  1.5
3  3.5  2.5

In [21]:
def sehigh(lst):
    m=lst[0]
    for i in lst:
        if i>m:
            m=i
    return m
lst=[2,3,4,5,6,7,8]
sehigh(lst)

8

In [23]:
def sehigh(lst):
    m=lst[0]
    for i in lst:
        if i>m:
            m=i
    s=None
    for i in lst:
        if i!=m:
            if s is None or i>s:
                s=i
    return s
lst=[2,3,4,5,6,7,8]
sehigh(lst)

7

In [25]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)
s='whdyiteieosm'
count_vowels(s)

5

In [35]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    v=list(vowels)
    c=0
    for i in list(s):
        if i in v:
            c+=1
    return c
s='whdyiteieoasm'
count_vowels(s)

6

In [37]:
def count_vowels(s):
    v='aeiouAEIOU'
    c=0
    for i in s:
        if i in v:
            c+=1
    return c
s='Algo one'
count_vowels(s)

4

In [ ]:
#Write a function to find the first non-repeating character in a string
def fun(s):
    for i in s:
        if s.count(i)==1:
            return i
        else:
            return None
s='ab'