In [3]:
def recursive_mul(a,b):
    if b==0:
        return 0
    else:
       return a+recursive_mul(a,(b-1))
a=int(input("enter the first number"))
b=int(input("enter the second number"))
print(recursive_mul(a,b))

enter the first number 3
enter the second number 3

9

In [9]:
def fact(n):
    if n==0 or n==1:
       return 1
    else:
        return n*fact(n-1)
n=int(input("enter any number"))
print(fact(n))

enter any number 5

120

In [12]:
def power(a,n):
    if n==0:
       return 1
    elif n%2==0:
        result=power(a,(n//2))
        return result*result
    else:
        result=power(a,(n//2))
        return result*result*a
a=int(input("enter any number"))
n=int(input("enter any number"))
print(power(a,n))

enter any number 2
enter any number 5

32

In [4]:
def recursive_mul(a, b):
    # Base case for b == 0
    if b == 0:
        return 0
    # Handle positive b
    elif b > 0:
        return a + recursive_mul(a, b - 1)
    # Handle negative b
    else:  # b < 0
        return -recursive_mul(a, -b)  # Negate the result for negative b

# Input from the user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# Call the function and print the result
print(recursive_mul(a, b))

Enter the first number:  -4
Enter the second number:  -3

12

In [8]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
def nCr(n, r):
    if r > n:
        return 0 
    return factorial(n) // (factorial(r) * factorial(n - r))
import math
n = 2
r = 4
print(nCr(n, r))

0

In [5]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input("Enter the first number: "))
print(factorial(n))

Enter the first number:  5

120

In [15]:
def samplex(x):
    if x==0 or x==1:
        return 1
    else:
        return samplex(x-1)*(x-1)
print(samplex(4))

6

In [19]:
def count(n,d=1):
  if n>1:
         return d+count(n-1) 
n=int(input())
print(count(3))

 3

None

In [26]:
def count(n,d=1):
    print(n)
    print(d)
    d+=1
    if n>1:
        count(n-1)
        print(d)
count(3)

3
1
2
1
1
1
2
2

In [1]:
#myverson
def sum(n):
   
   if n==1:
      return 1
   else:
      return sum(n-1)*n
sum(5)

120

In [8]:
#sir qs:
def sum(n):
    if n==2:
        return 2
    return sum(n-1)*n
sum(5)

120

In [19]:
def f(n,r=[0]):
    if n<=0:
        return 1
    r[0]=n
    return f(n-1,r)+r[0]
f(5)

6

In [5]:
def howmanydash(n):  #2power(n-1):
    if n==0 or n==1:
        print("-")
    else:
        howmanydash(n-1)
        howmanydash(n-1)
howmanydash(4)

-
-
-
-
-
-
-
-

In [15]:
def fun(n):  #2power(n-1):
    if n==0 or n==1:
        print("****************")
    else:
        fun(n-1)
        fun(n-1)
fun(4)

****************
****************
****************
****************
****************
****************
****************
****************

In [25]:
def fun1(x,y):
    if y==0:
        return 0
    return x+fun2(x,y-1)
def fun2(x,y):
    if x==0:
        return y
    return fun2(x-1,x+y)
result=fun1(4,4)
print(result)

17

In [31]:
def greet(n):
    if n>0:
        print("hello",end=" ")
        greet(n-1)
    print("world",end=" ")
greet(6)

hello hello hello hello hello hello world world world world world world world

In [2]:
def greet(n):
    if n>0:
        print("hello",end=" ")
        
    print("world",end=" ")
greet(2)

hello world

In [32]:
def greet(n):
    if n>0:
        print("hello",end=" ")
        
    print("world",end=" ")
greet(2)

hello world

In [38]:
def f1(n):
   if n==0 or n==1:
      return n
   else:
      return 2*f1(n-1)+3*f1(n-2)

def f2(n):
   if n==0 or n==1:
      return n
   else:
      return 2*f1(n-1)+3*f1(n-2)
f1(8)

1640

In [39]:
def f(n):
    if n<=1:
        return 1
    if n%2==0:
        return f(n//2)
    return f(n//2)+f(n//2+1)
print(f(11))

5

In [41]:
def f(a,n):
    if n<=0:
        return 0
    elif a[0]%2==0:#check if the first element is even
        return a[0]+f(a[1:],n-1)
    else:
        return a[0]-f(a[1:],n-1)
a=[12,7,13,4,11,6]
print(f(a,len(a)))

15

In [2]:
#1.Print numbers from 1 to 10 using a for loop:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
#2.Calculate the sum of numbers from 1 to 10 using a for loop:
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [15]:
#3.print the elements of a list using a for loop:
list=[1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [19]:
#4.Calculate the product of elements in a list using a for loop:
list=[1,2,3,4,5]
product=1
for i in list:
    product*=i
print(product)

120

In [23]:
#5.Print even numbers from 1 to 10 using a for loop:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [22]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [34]:
#6.Print numbers in reverse from 10 to 1 using a for loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [38]:
#7.Print characters of a string using a for loop
a="kkvarahalu"
for i in (a):
    print(i)

k
k
v
a
r
a
h
a
l
u

In [43]:
#8.Find the largest number in a list using a for loop
lst=[1,2,3,4,6,9,6,5]
max=lst[0]
for i in lst:
    if i>max:
        max=i
print(max)

9

In [49]:
#.smallest nuber:
lst=[1,2,3,4,6,9,6,5]
min=lst[0]
for i in lst:
    if i<min:
        min=i
print(min)

1

In [52]:
#9.Find the average of numbers in a list using a for loop
lst=[1,2,3,4]
sum=0
count=0
for i in lst:
    sum+=i
    count+=1
print(sum/count)

2.5

In [58]:
#10.Print all uppercase letters in a string using a for loop
s="KmLjHlGf"
u="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for i in s:
   for j in u:
       if i==j:
        print(i)

K
L
H
G

In [92]:
s="KmLjHlGf"
s1=s.upper()
e=""
for i in s:
    for j in s1:
       if i==j:
          print(j)

K
L
L
H
G

In [93]:
#11.Count the number of vowels in a string using a for loop
s="abcdefghijklmn"
u="AEIOUaeiou"
for i in s:
   for j in u:
       if i==j:
        print(i)

a
e
i

In [29]:
#12.Calculate factorial of a number using a while loop
n=int(input("Enter the number for which you want factorial:"))
i=1
fact = 1
while i<=n:
    fact*=i
    i+= 1
print(fact)

Enter the number for which you want factorial: 6

720

In [32]:
#12.Calculate factorial of a number using a while loop
n=int(input("Enter the number for which you want factorial:"))
i=1
fact = 1
while n>1:
    fact *=n
    n -= 1
print(fact)

Enter the number for which you want factorial: 5

120

In [ ]:
#13.find the first occurrence of a number in a list using a while loop:
list=[1,2,3,4,5]

In [8]:
#14.Calculate the sum of numbers from 1 to 100 using a while loop:
n=int(input("sum of number from"))
i=0
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

sum of number from 100

5050

In [2]:
#15.Find all prime numbers between 1 and 50 using  nested for and if:
for n in range(2,51):  
    is_prime=True  
    for i in range(2,n):  
        if n%i==0:  
            is_prime=False
    if is_prime:
        print(n,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [47]:
#16.Print numbers divisible by 3 or 5 from 1 to 20 using a for loop:
for i in range(1,20):
    if i%3==0 or i%5==0:
        print(i)

3
5
6
9
10
12
15
18

In [25]:
#17.Print a list of squares of numbers from 1 to 5 using a list comprehension
list=[x**2 for x in range(1,6)]
print(list)

[1, 4, 9, 16, 25]

In [36]:
#18.Print the Fibonacci sequence up to the 10th term using a for loop

num=int(input())    #0,1,1,2,3,5,8,13,21,34
if num<=0:
    print("positive number")
elif num==1:
    print("Fibonacci sequence")
    print(0)  
else:
    a, b = 0, 1  # First two terms
    print("Fibonacci sequence")
    print(a)
    print(b)
    for i in range(2, num):
        c = a + b
        a = b
        b = c
        print(c)

 0

positive number

In [49]:
#19.Find the common elements in two lists using a for loop
list=[1,2,35,6,79,5]
lst=[1,35,79,5,2]
common_element=[]
for i in list:
    if i in lst:
        common_element.append(i)
print(common_element)

[1, 2, 35, 79, 5]

In [3]:
#20.Print numbers in a list until a negative number is encountered using a while loop
list=[10,5,8,3,-2,15,7]
i=0
while i<len(list) and list[i]>=0:
   print(list[i])
   i+=1

10
5
8
3

In [1]:
#21. Print numbers from 1 to 5, except 3 using a for loop and continue statement
for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [2]:
#22. Print numbers from 1 to 10. If a number is divisible by 4, stop the loop using a for loop and break statement
for i in range(1,11):
    if i%4==0:
        break
    print(i)

1
2
3

In [3]:
#23. Print numbers from 1 to 10. If a number is even, skip it using a for loop and else clause
for i in range(1,11):
    if i%2==0:
        print("number is even")
    else:
        print("clause")

clause
number is even
clause
number is even
clause
number is even
clause
number is even
clause
number is even

In [6]:
#24. Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause
for i in range(1,11):
    if i%2==0:
        print("number is even")
        break
    else:
        print("clause")

clause
number is even

In [9]:
#25. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3,5,6 and 9.
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%3==0 or i%5==0:
        print(i)

3
5
6
9

In [1]:
def square(k):
    return k**2
our_list=[1,2,3,4,5,6]
square_lst=list(map(square,our_list))
print(square_lst)

[1, 4, 9, 16, 25, 36]

In [1]:
words=["apple","bat","cat","dog","egg"]
result=list(map(str.upper,words))
print(result)

['APPLE', 'BAT', 'CAT', 'DOG', 'EGG']

In [2]:
words=["apple","bat","cat","dog","egg"]
result=list(map(len,words))
print(result)

[5, 3, 3, 3, 3]

In [4]:
num=[1,2,3,4]
result=list(map(lambda f:(f-32)*5/9,num))
print(result)

[-17.22222222222222, -16.666666666666668, -16.11111111111111, -15.555555555555555]

In [11]:
n=5
for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [24]:
n=5
for i in range(n):
    for j in range(i):
       print(j,end="")
    print()

0
01
012
0123

In [40]:
n=5
for i in range(n):
   for i in range(i,n):
       print("*",end="")
   for j in range(i+1):
       print("*",end="")
   print()

**********
*********
********
*******
******

In [25]:
n=5
for i in range(n):
    for j in range(i):
       print(i,end="")
    print()

1
22
333
4444

In [4]:
for i in range(5):
    for j in range(5):
        if(j<=i):
            print(j+1,end="")
    print()

1
12
123
1234
12345

In [12]:
n=5
for i in range(n):
    print("*"*i,end=" ")
    print()

*
**
***
****

In [3]:
n=5
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [4]:
def trian(n):
    if n==0:
        return
    trian(n-1)
    sp=" "*(5-n)
    st="*"*(2*n-1)
    print(sp+st)
trian(5)

    *
   ***
  *****
 *******
*********

In [14]:
n=5
for i in range(n):
    print("*"*i,end)

*
**
***
****

In [46]:
for i in range(1, 10):
    if i % 3 == 0 and i % 5 == 0:
        print("***")
    elif i % 3 == 0:
        print("**")
    elif i % 5 == 0:
        print("*")
    else:
        print(i)

1
2
**
4
*
**
7
8
**

In [48]:
n=5
for i in range(n,0,-1):
    print("A"*i)

AAAAA
AAAA
AAA
AA
A

In [51]:
n=4
for i in range(n):
    for j in range(n -i -1):
        print(" ", end=" ")
    for k in range(i+1):
        print("*", end=" ")
    print()

      *
    * *
  * * *
* * * *

In [7]:
n = 5
for i in range(n): 
    
    for j in range(n-i-1):
        print("*", end="")
    
    for k in range(i+1):
        print("*", end=" ")
    print()

*****
**** *
*** * *
** * * *
* * * * *

In [9]:
n = 5
for i in range(n): 
    
    for j in range(n-i-1):
        print(" ", end="")
    
    for k in range(i+1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [11]:
n = 4
for i in range(n): 
    for j in range(n): 
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")  
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [8]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print("+", end=" ")
    print() 
for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(" ", end="")
    for k in range(i):  
        print("+", end=" ")
    print()

    +
   + +
  + + +
 + + + +
+ + + + +
 + + + +
  + + +
   + +
    +

In [ ]:
r=8
c=8
for i in range(r):
    for j in range(c):
        if (i+j)%2==0:
            print("X",end=" ")
        else:
            print

In [9]:
for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [32]:
for i in range(6):
    for j in range(i):
        print("*",end="")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
****
***
**
*

In [10]:
for i in range(6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [2]:
for i in range(1,10,2):
    for j in range(i):
        print("*",end=" ")
    print()

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [30]:
for i in range(9,0,-2):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(3,10,2):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * * * * * *
* * * * * * *
* * * * *
* * *
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [31]:
for i in range(9,0,-2):
    print("*"*i)
for i in range(3,10,2):
    print("*"*i)

*********
*******
*****
***
*
***
*****
*******
*********

In [33]:
for i in range(5):
        print("*"*i+" "+"*"*i)

* *
** **
*** ***
**** ****

In [37]:
for i in range(9):
        print("*",end="")

*********

In [38]:
for i in range(5,0,-1):
    print("*"*i+" "+"*"*i)

***** *****
**** ****
*** ***
** **
* *

In [31]:
for i in range(5):
        print("*"*i+" "+"*"*i)
for i in range(2):
    if i==1:
       print("*********")
for i in range(4,0,-1):
    print("*"*i+" "+"*"*i)

* *
** **
*** ***
**** ****
*********
**** ****
*** ***
** **
* *

In [1]:
def frequency_word(statement):
    words=statement.split()
    word_freq={}
    for word in words:
        if word in word_freq:
            word_freq[word]+=1
        else:
            word_freq[word]=1
        
    for word,freq in word_freq.items():
        if freq>1:
            print(f"{word} {freq}")
            
        else:
            print(word)
frequency_word("i am a sports person")
frequency_word("code while code")

i
am
a
sports
person
code 2
while

In [1]:
def getSubsets(s, index=0, current=""):
    if index == len(s):  
        print(current)
        return 

    getSubsets(s, index + 1, current)

    
    getSubsets(s, index + 1, current + s[index])

s = "abc"
getSubsets(s)

c
b
bc
a
ac
ab
abc

In [2]:
def getSubsets(s, index=0, current=""):
    if index == len(s):  
        print(current)
        return 

    getSubsets(s, index + 1, current)

    
    getSubsets(s, index + 1, current + s[index])

s = "abc"
getSubsets(s)

c
b
bc
a
ac
ab
abc

In [2]:
str='hello'

In [6]:
s=''
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']